.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    width: 100%;
    background-color: #00539f;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(40px + 2vmin);
    color: #ffd200;
    padding-bottom: 20px;
}
.App-header2 {
    background-color: #00539f;
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: right;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#btn {
    color: black;
    border: none;
    background-color: plum;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}
#closebtn {
    color: red;
    border: none;
    background-color: white;
    padding: 2px 5px;
    font-size: 15px;
    cursor: pointer;
    display: inline-block;
}

.btn {
    margin: 5px 5px;
    background-color: #00539f;
}

.strike {
    text-decoration: line-through;
    color: #ffd200;
    line-height: "2px";
}
